@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
    --dark: #0A0E06;
    --light: #F5F5F5;
    --intermediate: #626460;
    --spacing: 0.5rem;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing) * 3);
    --spacing4: calc(var(--spacing) * 4);
    --font-title: 'Dancing Script', cursive; 
    --font-text: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: var(--font-text);
    line-height: 150%;
    font-size: 1.3rem;
}

h1, h2, h3 {
    font-family: var(--font-title);
}

nav {
    position: fixed;
    inset:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--dark);
    color: var(--light);
}

nav ul {
    display: flex;
    list-style: none;
    gap: var(--spacing);
    margin: 0;
    padding: var(--spacing2);
}

nav a {
    color:var(--light);
    text-decoration: none;
}

nav a:hover {
    color: var(--intermediate);
}
.brand {
    display: flex;
    align-items: center;
    gap: var(--spacing2);
    padding: var(--spacing2);
    padding-bottom: 0;
}
.brand img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: url(../images/hedge.webp);
    gap:  var(--spacing4);
    padding: var(--spacing4);
}

header img {
    width: max(30%, 360px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

header h1 {
    font-size: 4rem;
    color: var(--light);
    margin: 0;
}

header h2 {
    font-size: 3rem;
    color: var(--light);
    margin: 0;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing3);
}

main h1 {
    font-size: 3rem;
    text-align: center;
}

section {
    padding-block: var(--spacing3);
}

section p {
    width: 75ch; 
    margin: auto;  
}

.burger {
    display: none;
    align-items: center;
}
.burger svg {
    width: 40px;
    height: 40px;
}

@media screen and (width < 600px) {
    .burger {
        display: flex;
    }
    .links {
        display: none;
    }
    .links:target {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: var(--spacing2);
        background-color: var(--dark);
    }
}