@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
    --dark: #0A0E06;
    --light: #F5F5F5;
    --intermediate: #626460;
    --spacing: 0.5rem;
    --spacing2: calc(var(--spacing) * 2);
    --spacing3: calc(var(--spacing) * 3);
    --spacing4: calc(var(--spacing) * 4);
    --font-title: 'Dancing Script', cursive; 
    --font-text: 'Roboto', sans-serif;
}

body {
    margin:0;
    font-family: var(--font-text);
}

h1, h2, h3 {
    font-family: var(--font-title);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: url(../images/hedge.webp);
    gap:  var(--spacing4);
    padding: var(--spacing4);
}

header img {
    width: max(30%, 360px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

header h1 {
    font-size: 4rem;
    color: var(--light);
    margin: 0;
}

header h2 {
    font-size: 3rem;
    color: var(--light);
    margin: 0;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing3);
}